{% extends 'layout.html'%}



{%block body%}




<!-- setup container stuff from bootstramp -->
{%include 'includes/navbar.html'%}
<div class = "container-fluid">
  <div class = 'row'>
    <div class = 'col-lg-12'>
<p style = "text-align: center;">  {{sensorLocation}}</p>



<!-- Chart stuff -->

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
   google.charts.load('current',{'packages':['corechart', 'controls']});
   google.charts.setOnLoadCallback(drawDashboard);



function drawDashboard() {
//function prepData is my homemade function that takes the python data and converts it into an array for addrows in Google Charts


function prepData(){

//bring the data in from python
// must use the | safe to get things to work. The | safe makes it so all the crazy {}))] characters show up right
array_ISO8601 = {{array_ISO8601 | safe}};
   array_data = {{data | safe}};
row = [] //prep empty array
row[0] = ['Date', 'Liters/Minute']//Create the column headers, must be created before you arrange the data
for (var i = 1; i < array_ISO8601.length; i++) {//arranging the data with a for-loop
  row[i] = [new Date(array_ISO8601[i]),array_data[i]]
} //adds the array inside of the array. Recall that the schema is handled elsewhere by addColumn in Google Charts
return row;

}

prepData(); //Call the function

//creating the Dashboard instance
var dashboard = new google.visualization.Dashboard(
  document.getElementById('dashboard_div'))

//creating the control instance
 var fluidRangeSlider = new google.visualization.ControlWrapper({
   'controlType': 'DateRangeFilter',
   'containerId': 'filter_div',
   'options':{
     'filterColumnLabel':'Date'
   }
 })


//creating the data for the chart. Pull the data from the 'prepData' function 
//and place into google arrayToDataTable for use in chart
var data = new google.visualization.arrayToDataTable(
  prepData()
)

  // see https://developers.google.com/chart/interactive/docs/gallery/linechart
  //All the work is done in the prepData function up above

//below is stuff for the Google chart

//create the chart instance
     var lineChart = new google.visualization.ChartWrapper({
          'chartType': 'LineChart',
          'containerId': 'chart_div',
          'options': {
            'width': 300,
            'height': 300,
            'ChartDate': 'value',
            'legend': 'right'
          }
        });

//Bind the control instance and the chart instance together within the Dashboard instance
   dashboard.bind(fluidRangeSlider, lineChart);
 //Draw the Dashboard instance using the data from 'data' variable, which is using the 
 //actual data from prepData function, just organized under the google arrayToDataTable format
   dashboard.draw(data);
   
}

 </script>


<!-- Put the three instances (dashboard, control, and chart) into the HTML stream -->
   <div id="dashboard_div">
     <div id="filter_div"></div>
   <div id="chart_div" style ="width: 900px; height: 500px"></div>
  </div>
<!-- end chart stuff -->

{{selectedSensorID}}

</div>
</div>
</div>






{%endblock%}
