{% extends 'layout.html'%}



{%block body%}
{%include 'includes/navbar.html'%}
<div class = "container-fluid">
  <div class = 'row'>
    <div class = 'col-lg-12'>
<a href ="/dashboard.html">link to dashboard</a>
<p>This is Sam's change!</p>
<p>Second (2) test, this time going from VSCode, to Git, then to PROD!</p> 


</div>
</div>
</div>

<!-- <div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h1>Navbar examples</h1>
    <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../navbar-top/">top</a> and <a href="../navbar-top-fixed/">fixed top</a> examples.</p>
    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
    <p>
      <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
    </p>
  </div>
</div> -->





{%endblock%}
